
@{
    ViewData["Title"] = "_BooksList";
}

<hr />
<h1>From Books List</h1>
<ul>
    <li> Wasted in Engineering</li>
    <li> It happen for a Reason</li>
    <li> The Leader in you</li>
    <li> The one Minute Manager</li>
</ul>

