

<div class="text-center"> <h1 class=" display-4"></h1></div>
<div class="jumpbotron">
<div>INR: &#8377</div>
<a asp-action="Echo" asp-route-name=" rya"
asp-route-city=" chennai">Call Echo</a> |
<a asp-action="SayHello" asp-route-name="rya">Call SayHello</a>
</div>



