@{
    ViewData["Title"] = "AuthorList";
}

<d<div class="text-centre">
    <h1 class="display-4">Welcome to MVC </h1>
</div>
<form action="Home/DoLogin">
<div>
<div>
<label for="txtUser">User Name:</label>
<input type="text" name="txtUser" required placeholder="Enter UserID" />
</div>
<div>
<label for="txtpwd">Password:</label>
<input type="password" name="txtpwd" required placeholder="Enter Password" />
</div>
<div>
<input type="submit" value="Login" />
</div>
</div>
</form>
<div>
    <a href="Home/Sayhello?name=rya">Sayhello</a>
</div>
<div>
    <a href="Home/Add?x=28&y=01">Add</a>
</div>
<div>
    <a href="Home/Multiply?x=28&y=01">Product</a>
</div>
<div>
    <a href="Home/Divide?x=28&y=01">Divide</a>
</div>
<div>
    <a href="Home/AddNewBook?">NewBook</a>
</div>
<div>
    <a href="Home/ListAllBook">All Books</a>
</div>
<div>
    <a href="Home/AddNewAuthor">NewAuthor</a>
</div>
<div>
    <a href="Home/ListAllAuthor">All Author
        </a>
</div>

<div>
    <a href="Author">Author Landing page</a>
</div>

<div>
    <a href="Emp">Employee Landing Page</a>
</div>
<div>
    <a href="Movie">Movie Landing Page</a>
</div>